<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.shopify.com/shopifycloud/brochure/assets/landers/short-lander/free-trial/default@tablet-83f017c08356e1b69d531716b99faa0ff7ff6cee61097d7f5169a55032d79e73.png" height="500px" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-dark bg-light w-4"><i class="fab fa-spotify"></i>Spotify</h5>
        <p class="text-dark bg-light ">By entering your email, you agree to receive marketing emails from Shopify.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://sslimages.shoppersstop.com/sys-master/root/h8f/hba/16622068989982/Static-Carousal-Curtains-Web.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://sslimages.shoppersstop.com/sys-master/root/h33/h7a/16622064238622/Frost-Collection_web.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-success">SHOP NOW</h5>
        <p class="text-dark">flat 50% off</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 shadow mt-5 ">
    <div class="col">
      <div class="card h-1 00 bg-success">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjYm68pvezc5_j-DwjTU6LYkGwQOX1kmoddg&usqp=CAU" class="card-img-top" height="200px" alt="...">
        <div class="card-body text-white">
          <h5 class="card-title">1.Print design</h5>
          <p class="card-text"> The digital age may have changed the world of graphic design, but that doesn’t mean there’s not still a market for print! </p>
        </div>
        <div class="card-footer">
          <a href="" class="text-white"> Register now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-success">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsUyUTtyyqMLEEbJZbBZGnCbaFov9QFxpCOA&usqp=CAU" height="200px" class="card-img-top" alt="...">
        <div class="card-body text-white">
          <h5 class="card-title">2. Branding design</h5>
          <p class="card-text">Branding is a type of corporate design that focuses on the visual identity of a company or product.</p>
        </div>
        <div class="card-footer">
            <a href="" class="text-white"> Register now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-success">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfDkLdUCTIEUhIBkjlSkoiUq_xAwFBVNtw6Q&usqp=CAU" class="card-img-top " height="200px" alt="...">
        <div class="card-body text-white">
          <h5 class="card-title">1. Product design</h5>
          <p class="card-text">Type of work produced:  product illustrations and prototypes.-
            Skills needed: Adobe Creative Suite®.</p>
        </div>
        <div class="card-footer">
            <a href="" class="text-white"> Register now</a>
        </div>
      </div>
    </div>
  </div>